table
{
    background-image: url(../image/black.jpg);
}
span
{
    color: maroon;
}
h1#heading
{
    text-align: left;
}
h1>span
{
    font-size: 100px;
    color: darkred;
}
body
{
    background-image: url(../image/sand.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
